{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}

<button type="submit" class="btn btn-primary">
    {{ button_label|default('Add Book') }}
</button>

<a href="{{ path('admin_book_index') }}" class="btn btn-link">
    Back to book list
</a>
{{ form_end(form) }}
