{% extends 'admin/layout.html.twig' %}

{% block body %}
    <a href="{{ path('admin_author_new') }}" class="btn btn-block btn-success my-3">
        Create author
    </a>

    {% if authors %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Patronymic</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for author in authors %}
                <tr>
                    <td>{{ author.firstName }}</td>
                    <td>{{ author.lastName }}</td>
                    <td>{{ author.patronymic }}</td>
                    <td>
                        <div class="d-flex">
                            {#                            <a href="{{ path('admin_author_edit', {id: author.id}) }}" class="btn btn-sm btn-primary"> #}
                            {#                                Edit #}
                            {#                            </a> #}

                            {#                            <form action="{{ url('admin_book_delete', {id: author.id}) }}" method="POST" class="ms-2"> #}
                            {#                                <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/> #}
                            {#                                <button type="submit" class="btn btn-sm btn-danger">Delete</button> #}
                            {#                            </form> #}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No authors yet</h1>
    {% endif %}
{% endblock %}
