{{ form_start(form) }}

{{ form_widget(form) }}

<button type="submit" class="btn btn-primary">
    {{ submit_label|default('Create') }}
</button>

<a href="{{ back_url|default(path('admin_book_index')) }}" class="btn btn-link">
    {{ back_label|default('Back to book list') }}
</a>

{{ form_end(form) }}
