{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('admin_book_new') }}" class="btn btn-block btn-success my-3">
        Create book
    </a>

    {% if books %}
        <table class="table align-middle">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Year</th>
                <th scope="col">ISBN</th>
                <th scope="col">Authors</th>
                <th scope="col">Cover</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.year }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>
                        {% for author in book.authors %}
                            <a href="{{ path('admin_author_edit', {id: author.id}) }}" class="d-block"
                               style="min-width: max-content">{{ author }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        {% if book.coverFilename %}
                            <a href="{{ asset('uploads/images/book_covers/' ~ book.coverFilename) }}" target="_blank">
                                <img src="{{ asset('uploads/images/book_covers/' ~ book.coverFilename) }}"
                                     alt="book cover"
                                     style="max-height: 100px">
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <div class="d-flex">
                            <a href="{{ path('admin_book_edit', {id: book.id}) }}" class="btn btn-sm btn-primary">
                                Edit
                            </a>

                            <form action="{{ url('admin_book_delete', {id: book.id}) }}" method="POST" class="ms-2">
                                <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No books yet</h1>
    {% endif %}
{% endblock %}
